# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
all-apk-versions/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
*/string.xml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

*/app/src/main/res
!/app/src/main/res/layout/splash_ad_show.xml
!/app/src/main/res/drawable/splash_bg_custom_skip_view.xml

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
/ios/assets/src
/ios/assets/srcIOs
/ios/assets/srcA
/ios/assets/static

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
app.json
android/app/src/main/res/values/strings.xml

package-lock.json
Podfile.lock