<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>openapp.jdmobile</string>
    <string>vipshop</string>
    <string>tbopen</string>
    <string>suning</string>
    <string>qunariphone</string>
    <string>imeituan</string>
    <string>dianping</string>
    <string>lianjia</string>
    <string>xhsdiscover</string>
    <string>baiduhaokan</string>
    <string>bdminivideo</string>
    <string>baiduboxlite</string>
    <string>baiduboxmission</string>
    <string>com.baidu.tieba</string>
    <string>zhihu</string>
    <string>wireless1688</string>
    <string>iqiyi</string>
    <string>weixin</string>
    <string>qihooloan</string>
    <string>weishi</string>
    <string>travelguide</string>
    <string>wbmain</string>
    <string>taobaotravel</string>
    <string>kwai</string>
    <string>ksnebula</string>
    <string>sinaweibo</string>
    <string>alipays</string>
    <string>youku</string>
    <string>openjdlite</string>
    <string>com.360buy.jdpingou</string>
    <string>cainiao</string>
    <string>kaola</string>
    <string>OneTravel</string>
    <string>lianjiabeike</string>
    <string>iosamap</string>
    <string>com.taobao.taobao4iphone</string>
    <string>com.360buy.jdmobile</string>
    <string>com.meituan.imeituan</string>
    <string>com.vipshop.iphone</string>
    <string>com.meituan.itakeaway</string>
    <string>com.taobao.tmall</string>
    <string>com.xiaojukeji.didi</string>
    <string>com.jiangjia.gif</string>
    <string>me.ele.ios.eleme</string>
    <string>com.ss.iphone.ugc.Aweme</string>
    <string>com.alipay.iphoneclient</string>
    <string>com.autonavi.amap</string>
    <string>com.xunmeng.pinduoduo</string>
    <string>com.kuaishou.nebula</string>
    <string>com.sina.weibo</string>
    <string>com.jd.jinrong</string>
    <string>com.ucweb.iphone.lowversion</string>
    <string>com.jindidata.SkyEyes</string>
    <string>com.baidu.BaiduMobile</string>
    <string>com.dianping.dpscope</string>
  </array>
  <key>SKAdNetworkItems</key>
  <array>
  </array>
  <key>GADApplicationIdentifier</key>
  <string>ca-app-pub-6143222543441738~9891877510</string>
  <key>GADIsAdManagerApp</key>
  <true/>
  <key>Location When In Use Usage Description</key>
  <string>获取您的地区，为你推荐身边的更多优惠信息</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>影视TV</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>codepush.appcenter.ms</key>
        	<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<!-- CodePush YINGSHI Global Deployment Key - oG_XSZX8zQ1QBw_VznDtxHNqkNONW6kuTOCIP (Staging) -->
	<!-- CodePush YINGSHI Global Deployment Key - KsO7FCf3Rz-gOUFeCbRFOndw87cCa6KC9wuSp (Production) -->
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
</dict>
</plist>
